/*
 * Copyright DATA RESPONS AS
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
 
/dts-v1/;
 
#include "imx6dl.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/pwm/pwm.h>
/ {
    model = "Laerdal Medical LINKBOX PLUS (REV C)";
    compatible = "datarespons,laerdal2";

    aliases {
        mmc0 = &usdhc3;
        mmc1 = &usdhc4;
        rtc0 = &pmu;
    };

    memory {
        reg = <0x10000000 0x40000000>;
    };

    clocks {
        /* 27MHz reference crystal */
        audio_ref: oscillator {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <27000000>;
        };
    };
    
    regulators {
        compatible = "simple-bus";

        reg_5v_sys: system_5v {
            compatible = "regulator-fixed";
            regulator-name = "5V";
            regulator-min-microvolt = <5000000>;
            regulator-max-microvolt = <5000000>;
            gpio = <&gpio4 11 0>;
            enable-active-high;
            regulator-boot-on;
            regulator-always-on;
        };
        
        reg_wifi: wifi_pwr {
            compatible = "regulator-fixed";
            regulator-name = "reg_wifi";
            regulator-min-microvolt = <3300000>;
            regulator-max-microvolt = <3300000>;
            gpio = <&gpio3 26 0>;
            enable-active-high;
            regulator-boot-on;
            regulator-always-on;
        };
        
        reg_wifi_io: wifi_pwr_io {
            compatible = "regulator-fixed";
            regulator-name = "reg_wifi_io";
            regulator-min-microvolt = <1800000>;
            regulator-max-microvolt = <1800000>;
            gpio = <&gpio6 11 0>;
            enable-active-high;
            vin-supply = <&reg_wifi>;
            startup-delay-us = <100>;
            regulator-always-on;
        };
        
        reg_wifi_en: wifi_enable {
            compatible = "regulator-fixed";
            regulator-name = "reg_wifi_enable";
            regulator-min-microvolt = <1800000>;
            regulator-max-microvolt = <1800000>;
            gpio = <&gpio2 3 0>;
            enable-active-high;
            vin-supply = <&reg_wifi_io>;
            startup-delay-us = <300>;
            regulator-always-on;
        };

/*  
        reg_bt_en: bt_enable {
            compatible = "regulator-fixed";
            regulator-name = "reg_bt_enable";
            regulator-min-microvolt = <1800000>;
            regulator-max-microvolt = <1800000>;
            gpio = <&gpio2 4 0>;
            enable-active-high;
            vin-supply = <&reg_wifi_io>;
            startup-delay-us = <300>;
            regulator-always-on;
        };
*/  
        reg_usb_h1_vbus: usb_h1_vbus {
            compatible = "regulator-fixed";
            regulator-name = "usb_h1_vbus";
            regulator-min-microvolt = <5000000>;
            regulator-max-microvolt = <5000000>;
            gpio = <&gpio4 15 GPIO_ACTIVE_HIGH>;
            enable-active-high;
        };
    };

    pwm-manikin@0 {
        compatible = "modulated-pwm";
        pwms = <&pwm1 0 40000>;
        status = "okay";
        inverted;
    };
    
    gpio-keys {
        compatible = "gpio-keys";
        power {
            label = "Power Button";
            gpios = <&gpio3 29 GPIO_ACTIVE_LOW>;
            linux,code = <116>; /* KEY_POWER */
            gpio-key,wakeup;
        };

    };
    
    user-gpios {
    
        gpio-bt-enable {
            gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
            status = "okay";
            value = <1>;
        };
        
        gpio-spinor-wp {
            gpios = <&gpio3 20 GPIO_ACTIVE_HIGH>;
            status = "okay";
            value = <1>;
        };
        
        gpio-hw-setting0 {
            gpios = <&gpio3 27 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };
        
        gpio-hw-setting1 {
            gpios = <&gpio3 28 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };
        
        gpio-hw-setting2 {
            gpios = <&gpio4 10 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };

        gpio-ddr-setting {
            gpios = <&gpio3 31 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };
        
        gpio-mcu-rst {
            gpios = <&gpio4 26 GPIO_ACTIVE_LOW>;
            status = "okay";
            bidir;
        };
        
        gpio-mcu-boot0 {
            gpios = <&gpio4 27 GPIO_ACTIVE_HIGH>;
            status = "okay";
            bidir;
        };
        
        gpio-mcu-boot1 {
            gpios = <&gpio4 28 GPIO_ACTIVE_HIGH>;
            status = "okay";
            bidir;
        };
        
        gpio-can-en {
            gpios = <&gpio3 21 GPIO_ACTIVE_HIGH>;
            status = "okay";
            value = <0>;
        };
        
        gpio-wlan-dev-wake {
            gpios = <&gpio2 7 GPIO_ACTIVE_HIGH>;
            status = "okay";
            value = <1>;
        };
        
        gpio-wlan-host-wake {
            gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
            status = "okay";
            bidir;
        };
        
        gpio-bt-host-wake {
            gpios = <&gpio6 7 GPIO_ACTIVE_LOW>;
            status = "okay";
            bidir;
        };
        
        gpio-bt-dev-wake {
            gpios = <&gpio6 8 GPIO_ACTIVE_LOW>;
            status = "okay";
            value = <1>;
        };
        
        gpio-phy-rst {
            gpios = <&gpio1 25 GPIO_ACTIVE_HIGH>;
            status = "okay";
            value = <1>;
        };
        
        gpio-pwm3 {
            gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>;
            status = "okay";
            value = <0>;
        };
        
        gpio-pwm2 {
            gpios = <&gpio1 19 GPIO_ACTIVE_HIGH>;
            status = "okay";
            value = <0>;
        };
        
        gpio-pmu02 {
            gpios = <&gpio5 17 GPIO_ACTIVE_LOW>;
            status = "okay";
            value = <0>;
        };
        
    };
    
    
    leds {
        compatible = "gpio-leds";
    
        status-red {
            gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>;
            default-state = "off";
        };
        
        status-green {
            gpios = <&gpio1 20 GPIO_ACTIVE_LOW>;
            default-state = "on";
            linux,default-trigger = "heartbeat";
        };
        
        status-blue {
            gpios = <&gpio1 16 GPIO_ACTIVE_LOW>;
            default-state = "off";
        };
        
        wifi-red {
            gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;
            default-state = "off";
        };
        
        wifi-green {
            gpios = <&gpio5 6 GPIO_ACTIVE_LOW>;
            default-state = "off";
        };
        
        wifi-blue {
            gpios = <&gpio5 7 GPIO_ACTIVE_LOW>;
            default-state = "off";
        };
    };
    
    sound_2ch {
        compatible = "fsl,lm-imx-audio-wm8960";
        model = "wm8960-audio";
        cpu-dai = <&ssi2>;
        audio-codec = <&codec>;
        audio-routing =
            "Headphone Jack", "HP_L",
            "Headphone Jack", "HP_R",
            "Ext Spk", "OUT3",
            "LINPUT1", "AMIC";
        ncpins = "SPK_RP", "SPK_RN", "SPK_LP", "SPK_LN";
        mux-int-port = <2>;
        mux-ext-port = <3>;
        hp-det-gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
        mic-det-gpios = <&gpio7 13 GPIO_ACTIVE_LOW>;
    };

    sound_8ch {
        compatible = "fsl,imx-audio-pcm1681";
        model = "pcm1681";
        cpu-dai = <&esai>;
        audio-codec = <&codec_pcm1681>;
        hfclk-freq = <8192000>;
        
        audio-routing = 
            "OUT1", "VOUT1",
            "OUT2", "VOUT2",
            "OUT3", "VOUT3",
            "OUT4", "VOUT4",
            "OUT5", "VOUT5",
            "OUT6", "VOUT6",
            "OUT7", "VOUT7",
            "OUT8", "VOUT8";
    };
};

&esai {
    compatible = "fsl,imx35-esai";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_esai_linkbox>;
    status = "okay";
};

&ecspi1 {
    fsl,spi-num-chipselects = <1>;
    cs-gpios = <&gpio3 19 0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi1>;
    status = "okay";

    flash: m25p80@0 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "mx,mx25l3205d";
        spi-max-frequency = <20000000>;
        reg = <0>;
        partition@0 {
            label = "user";
            reg = <0 0x00200000>;
        };
        partition@0x00200000 {
            label = "factory";
            reg = <0x00200000 0x00200000>;
        };
    };
};

&ecspi2 {
    fsl,spi-num-chipselects = <1>;
    cs-gpios = <&gpio5 12 0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi2>;
    status = "disabled";
    
    pmufw: pmufw@0 {
       #address-cells = <1>;
       #size-cells = <1>;
       compatible = "datarespons,lm-pmu-fw";
       boot0-gpio = <&gpio5 15 GPIO_ACTIVE_HIGH>;
       reset-gpio = <&gpio5 13 GPIO_ACTIVE_LOW>;
       spi-max-frequency = <4000000>;
       reg = <0>;
    };
};

&fec {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_enet_linkbox2>;
    phy-mode = "rgmii";
    /* phy-reset-gpios = <&gpio1 25 GPIO_ACTIVE_LOW>; */
    status = "okay";
    /* phy-supply = <&vgen6_reg>; */
    phy-handle = <&arphy>;
    mdio {
       #address-cells = <1>;
       #size-cells = <0>;
       arphy: ethernet-phy@0 {
           compatible = "ethernet-phy-ieee802.3-c22";
           reg = <0x0>;
           max-speed = <100>;
           interrupt-parent = <&gpio1>;
           interrupts = <26 IRQ_TYPE_EDGE_FALLING>;
       };
    };
};


&cpu0 {
    arm-supply = <&reg_arm>;
    soc-supply = <&reg_soc>;
};


&gpc {
    fsl,ldo-bypass = <0>; /* use ldo-bypass, u-boot will check it and configure */
    fsl,wdog-reset = <2>; /* watchdog select of reset source */
};

&wdog1 {
    status = "disabled";
};

&wdog2 {
    status = "okay";
};

&i2c4 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c4>;
    status = "okay";
    
        pmic: pfuze100@08 {
        compatible = "fsl,pfuze100";
        reg = <0x08>;

        regulators {
            sw1a_reg: sw1ab {
                regulator-min-microvolt = <300000>;
                regulator-max-microvolt = <1875000>;
                regulator-boot-on;
                regulator-always-on;
                regulator-ramp-delay = <6250>;
            };

            sw1c_reg: sw1c {
                regulator-min-microvolt = <300000>;
                regulator-max-microvolt = <1875000>;
                regulator-boot-on;
                regulator-always-on;
                regulator-ramp-delay = <6250>;
            };

            sw2_reg: sw2 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };

            sw3a_reg: sw3a {
                regulator-min-microvolt = <400000>;
                regulator-max-microvolt = <1975000>;
                regulator-boot-on;
                regulator-always-on;
            };

            sw3b_reg: sw3b {
                regulator-min-microvolt = <400000>;
                regulator-max-microvolt = <1975000>;
                regulator-boot-on;
                regulator-always-on;
            };

            sw4_reg: sw4 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };

            swbst_reg: swbst {
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5150000>;
                regulator-boot-on;
                regulator-always-on;
            };

            snvs_reg: vsnvs {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3000000>;
                regulator-boot-on;
                regulator-always-on;
            };

            vref_reg: vrefddr {
                regulator-boot-on;
                regulator-always-on;
            };

            vgen1_reg: vgen1 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <1550000>;
            };

            vgen2_reg: vgen2 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <1550000>;
            };

            vgen3_reg: vgen3 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
            };

            vgen4_reg: vgen4 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
            };

            vgen5_reg: vgen5 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
            };

            vgen6_reg: vgen6 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };
        };
    };

};

&i2c1 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c1>;
    status = "okay";
    
    codec: wm8960@1a {
        compatible = "wlf,wm8960";
        reg = <0x1a>;
        clocks = <&clks IMX6QDL_CLK_CKO>;
        clock-names = "mclk";
        wlf,shared-lrclk;
       };

};


&i2c3 {
    clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c3>;
    status = "okay";

    board_temp: tmp103@70 {
        compatible = "ti,tmp103";
        reg = <0x70>;
    };
    
    onewire_1: ds2482@18 {
        reg = <0x18>;
        compatible = "dallas,ds2482";
    };
    
    onewire_2: ds2482@19 {
        reg = <0x19>;
        compatible = "dallas,ds2482";
    };
    
   si5351: clock-generator@60 {
        compatible = "silabs,si5351a-msop";
        reg = <0x60>;
        #address-cells = <1>;
        #size-cells = <0>;
        #clock-cells = <1>;
    
        /* connect xtal input to 27MHz reference */
        clocks = <&audio_ref>;
    
        /* connect xtal input as source of pll0 and pll1 */
        silabs,pll-source = <0 0>, <1 0>;
    
        clkout0 {
            reg = <0>;
            silabs,drive-strength = <8>;
            silabs,multisynth-source = <0>;
            silabs,clock-source = <0>;
            silabs,pll-master;
            clock-frequency = <8192000>;
        };
    };

    codec_pcm1681: pcm1681@4c {
        compatible = "ti,pcm1681";
        clocks = <&si5351 0>;
        reg = <0x4c>;
    };
    
    pmu: pmu@40 {
       reg = <0x40>;
       compatible = "datarespons,lm-pmu-lb";
       irq-gpio = <&gpio5 16 GPIO_ACTIVE_HIGH>;
       msg-complete-gpio = <&gpio5 14 GPIO_ACTIVE_LOW>;
       alert-gpio = <&gpio4 5 GPIO_ACTIVE_LOW>;
       manikin-5v-gpio = <&gpio4 9 GPIO_ACTIVE_HIGH>;
       manikin-12v-gpio = <&gpio4 29 GPIO_ACTIVE_HIGH &gpio4 8 GPIO_ACTIVE_HIGH>;
       bat-detect-gpios = <&gpio4 31 GPIO_ACTIVE_LOW &gpio5 5 GPIO_ACTIVE_LOW>;
       bat-disable-gpios = <&gpio4 23 GPIO_ACTIVE_HIGH &gpio4 24 GPIO_ACTIVE_HIGH>;
       spksd-gpio = <&gpio4 25 GPIO_ACTIVE_LOW>;
       amp-shutdown-gpio = <&gpio1 5 GPIO_ACTIVE_HIGH>;
    };

};


&iomuxc {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_hog_1>;

    hog {
        pinctrl_hog_1: hoggrp-1 {
            fsl,pins = <
                MX6QDL_PAD_KEY_COL1__GPIO4_IO08     0x80000000      /* AUX_12V_EN (manikin) */
                MX6QDL_PAD_KEY_COL2__GPIO4_IO10     0x00013000      /* HW Setting 2 (pulldown) */
                MX6QDL_PAD_KEY_ROW1__GPIO4_IO09     0x80000000      /* AUX_5V_EN (manikin) */
                MX6QDL_PAD_KEY_ROW2__GPIO4_IO11     0x80000000      /* VCC_5V_EN (system 5v) */
                MX6QDL_PAD_GPIO_0__CCM_CLKO1        0x130b0         /* External audio clk */
                MX6QDL_PAD_GPIO_1__WDOG2_B          0x80000000
                MX6QDL_PAD_GPIO_5__GPIO1_IO05       0x80000000      /* SPK_SD_N */
                MX6QDL_PAD_GPIO_9__GPIO1_IO09       0x0001b000      /* HP_DET, pullup */
                MX6QDL_PAD_GPIO_18__GPIO7_IO13      0x1b0b1         /* Mic detect, pullup */
                MX6QDL_PAD_GPIO_19__GPIO4_IO05      0x1b0b1         /* DC_IN_nFLG (used as alert) */
                MX6QDL_PAD_NANDF_CLE__GPIO6_IO07    0x80000000      /* GP--BT_HOST_WAKE */
                MX6QDL_PAD_NANDF_CS0__GPIO6_IO11    0x80000000      /* GP--WL_VDDIO_EN */
                MX6QDL_PAD_NANDF_ALE__GPIO6_IO08    0x1b8b1         /* GP--BT_WAKE */
                MX6QDL_PAD_NANDF_RB0__GPIO6_IO10    0x0001b000      /* PMIC_INT_B */
                MX6QDL_PAD_NANDF_D3__GPIO2_IO03     0x80000000      /* WL_REG_ON (WiFI power) */
                MX6QDL_PAD_NANDF_D4__GPIO2_IO04     0x80000000      /* BT_REG_ON (Bluetooth power) */
                MX6QDL_PAD_NANDF_D5__GPIO2_IO05     0x0001b000      /* WL_IRQ (WiFI interrupt */
                MX6QDL_PAD_NANDF_D6__GPIO2_IO06     0x1b0b1         /* GP--WL_HOST_WAKE */
                MX6QDL_PAD_NANDF_D7__GPIO2_IO07     0x1b8b1         /* GP--WL_DEV_WAKE */
                MX6QDL_PAD_EIM_A25__GPIO5_IO02      0x0001b000      /* Recovery_setting (control boot) */
                MX6QDL_PAD_EIM_D20__GPIO3_IO20      0x80000000      /* GP--nWP--flash (SPI flash WP) */
                MX6QDL_PAD_EIM_D21__GPIO3_IO21      0x80000000      /* CAN_EN */
                MX6QDL_PAD_EIM_D26__GPIO3_IO26      0x80000000      /* GP--WL_BAT_PWR_EN */
                MX6QDL_PAD_EIM_D27__GPIO3_IO27      0x0001b000      /* HW_Setting_0 */
                MX6QDL_PAD_EIM_D28__GPIO3_IO28      0x0001b000      /* HW_Setting_1 */
                MX6QDL_PAD_EIM_D29__GPIO3_IO29      0x0001b000      /* PPWR_BTN_SNS */
                MX6QDL_PAD_EIM_D31__GPIO3_IO31      0x0001b000      /* DDR_Setting */
                MX6QDL_PAD_SD1_CMD__GPIO1_IO18      0x80000000      /* LED_R_Status--CPU */
                MX6QDL_PAD_SD1_CLK__GPIO1_IO20      0x80000000      /* LED_G_Status--CPU */
                MX6QDL_PAD_SD1_DAT0__GPIO1_IO16     0x80000000      /* LED_B_Status--CPU */
                MX6QDL_PAD_SD1_DAT1__GPIO1_IO17     0x80000000      /* PWM3 (as gpio) */
                MX6QDL_PAD_SD1_DAT2__GPIO1_IO19     0x80000000      /* PWM2 (as gpio) */
                MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25  0x80000000      /* Phy reset (low) */
                MX6QDL_PAD_ENET_RXD0__GPIO1_IO27    0x80000000      /* Schematic error, set to input */
                MX6QDL_PAD_ENET_RXD1__GPIO1_IO26    0x80000000      /* Phy IRQ */
                MX6QDL_PAD_DISP0_DAT2__GPIO4_IO23   0x80000000      /* UV2 (pulldown)*/
                MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24   0x80000000      /* UV3 (pulldown)*/
                MX6QDL_PAD_DISP0_DAT4__GPIO4_IO25   0x80000000      /* AC5W_SD */
                MX6QDL_PAD_DISP0_DAT5__GPIO4_IO26   0x00000878      /* MCU_RST (OD) */
                MX6QDL_PAD_DISP0_DAT6__GPIO4_IO27   0x80000000      /* MCU_BOOT0 */
                MX6QDL_PAD_DISP0_DAT7__GPIO4_IO28   0x80000000      /* MCU_BOOT1 */
                MX6QDL_PAD_DISP0_DAT8__GPIO4_IO29   0x80000000      /* BOOST_12V_EN */
                MX6QDL_PAD_DISP0_DAT10__GPIO4_IO31  0x0001b000      /* BAT1_DET_N */
                MX6QDL_PAD_DISP0_DAT11__GPIO5_IO05  0x0001b000      /* BAT2_DET_N */
                MX6QDL_PAD_DISP0_DAT12__GPIO5_IO06  0x80000000      /* WIFI_LED_G */
                MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07  0x80000000      /* WIFI_LED_B */
                MX6QDL_PAD_DISP0_DAT14__GPIO5_IO08  0x80000000      /* WIFI_LED_R */
                MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13  0x0000A800      /* PMU_RST_N (OD) */
                MX6QDL_PAD_DISP0_DAT20__GPIO5_IO14  0x1b0b1         /* GP_03 (status to PMU) */
                MX6QDL_PAD_DISP0_DAT21__GPIO5_IO15  0x000000b8      /* PMU BOOT0 */
                MX6QDL_PAD_DISP0_DAT22__GPIO5_IO16  0x1b0b1         /* GP_PMU_01 (IRQ) */
                MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17  0x1b0b1         /* GP_PMU_02 (status) */
            >;
        };
    };
    
    ecspi1 {
        pinctrl_ecspi1: ecspi1grp {
            fsl,pins = <
                MX6QDL_PAD_EIM_D17__ECSPI1_MISO 0x100b1
                MX6QDL_PAD_EIM_D18__ECSPI1_MOSI 0x100b1
                MX6QDL_PAD_EIM_D16__ECSPI1_SCLK 0x100b1
                MX6QDL_PAD_EIM_D19__GPIO3_IO19  0x100b1
            >;
        };
    };
    
    ecspi2 {
        pinctrl_ecspi2: ecspi2grp {
            fsl,pins = <
                MX6QDL_PAD_EIM_OE__ECSPI2_MISO  0x100b1
                MX6QDL_PAD_EIM_CS1__ECSPI2_MOSI 0x100b1
                MX6QDL_PAD_EIM_CS0__ECSPI2_SCLK 0x100b1
                MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12  0x100b1
            >;
        };
    };
    
    uart1 {
        pinctrl_uart1: uart1grp {
            fsl,pins = <
                MX6QDL_PAD_CSI0_DAT10__UART1_TX_DATA    0x1b0b1
                MX6QDL_PAD_CSI0_DAT11__UART1_RX_DATA    0x1b0b1
            >;
        };
    };
    
    uart2 {
        pinctrl_uart2: uart2grp {
            fsl,pins = <
                MX6QDL_PAD_GPIO_7__UART2_TX_DATA    0x1b0b1
                MX6QDL_PAD_GPIO_8__UART2_RX_DATA    0x1b0b1
            >;
        };
    };
    
    uart3 {
        pinctrl_uart3: uart3grp {
            fsl,pins = <
                MX6QDL_PAD_EIM_D24__UART3_TX_DATA   0x1b0b1
                MX6QDL_PAD_EIM_D25__UART3_RX_DATA   0x1b0b1
            >;
        };
    };
    
    uart4 {
        pinctrl_uart4: uart4grp {
            fsl,pins = <
                MX6QDL_PAD_KEY_COL0__UART4_TX_DATA  0x1b0b1
                MX6QDL_PAD_KEY_ROW0__UART4_RX_DATA  0x1b0b1
            >;
        };
    };

    pwm1 {
        pinctrl_pwm1: pwm1grp {
            fsl,pins = <
                MX6QDL_PAD_SD1_DAT3__PWM1_OUT       0x1b0f1
            >;
        };
    };
        
    pwm2 {
        pinctrl_pwm2: pwm2grp {
            fsl,pins = <
                MX6QDL_PAD_SD1_DAT2__PWM2_OUT 0x1b0b1
            >;
        };
    };
    
    pwm3 {
        pinctrl_pwm3_lb: pwm3grp-lb {
            fsl,pins = <
                MX6QDL_PAD_SD1_DAT1__PWM3_OUT 0x1b0b1
            >;
        };
    };
    
    usbotg {
        pinctrl_usbotg: usbotggrp {
            fsl,pins = <
                MX6QDL_PAD_ENET_RX_ER__USB_OTG_ID   0x17059
            >;
        };
    };
    
    usdhc3 {
        pinctrl_usdhc3: usdhc3grp {
            fsl,pins = <
                MX6QDL_PAD_SD3_CMD__SD3_CMD     0x17059
                MX6QDL_PAD_SD3_CLK__SD3_CLK     0x10059
                MX6QDL_PAD_SD3_DAT0__SD3_DATA0      0x17059
                MX6QDL_PAD_SD3_DAT1__SD3_DATA1      0x17059
                MX6QDL_PAD_SD3_DAT2__SD3_DATA2      0x17059
                MX6QDL_PAD_SD3_DAT3__SD3_DATA3      0x17059
                MX6QDL_PAD_SD3_DAT4__SD3_DATA4      0x17059
                MX6QDL_PAD_SD3_DAT5__SD3_DATA5      0x17059
                MX6QDL_PAD_SD3_DAT6__SD3_DATA6      0x17059
                MX6QDL_PAD_SD3_DAT7__SD3_DATA7      0x17059
            >;
        };
    };

    usdhc4 {
        pinctrl_usdhc4: usdhc4grp {
            fsl,pins = <
                MX6QDL_PAD_SD4_CMD__SD4_CMD     0x17059
                MX6QDL_PAD_SD4_CLK__SD4_CLK     0x10059
                MX6QDL_PAD_SD4_DAT0__SD4_DATA0      0x17059
                MX6QDL_PAD_SD4_DAT1__SD4_DATA1      0x17059
                MX6QDL_PAD_SD4_DAT2__SD4_DATA2      0x17059
                MX6QDL_PAD_SD4_DAT3__SD4_DATA3      0x17059
            >;
        };
    };

    audmux {
        pinctrl_audmux: audmuxgrp {
            fsl,pins = <
                MX6QDL_PAD_CSI0_DAT7__AUD3_RXD      0x130b0
                MX6QDL_PAD_CSI0_DAT4__AUD3_TXC      0x130b0
                MX6QDL_PAD_CSI0_DAT5__AUD3_TXD      0x110b0
                MX6QDL_PAD_CSI0_DAT6__AUD3_TXFS     0x130b0
                MX6QDL_PAD_SD2_DAT0__AUD4_RXD       0x130b0
                MX6QDL_PAD_SD2_DAT3__AUD4_TXC       0x130b0
                MX6QDL_PAD_SD2_DAT2__AUD4_TXD       0x110b0
                MX6QDL_PAD_SD2_DAT1__AUD4_TXFS      0x130b0
                MX6QDL_PAD_SD2_CMD__AUD4_RXC        0x130b0
            >;
        };
    };
    
    esai {
        pinctrl_esai_linkbox: esaigrp-linkbox {
            fsl,pins = <
                MX6QDL_PAD_GPIO_6__ESAI_TX_CLK      0x1b030
                MX6QDL_PAD_GPIO_2__ESAI_TX_FS       0x1b030
                MX6QDL_PAD_GPIO_17__ESAI_TX0        0x1b030
                MX6QDL_PAD_GPIO_4__ESAI_TX_HF_CLK   0x80000000
            >;
        };
    };
    
    i2c1 {
        pinctrl_i2c1: i2c1grp {
            fsl,pins = <
                MX6QDL_PAD_CSI0_DAT8__I2C1_SDA      0x4001b8b1
                MX6QDL_PAD_CSI0_DAT9__I2C1_SCL      0x4001b8b1
            >;
        };
    };
    
    i2c3 {
        pinctrl_i2c3: i2c3grp {
            fsl,pins = <
                MX6QDL_PAD_GPIO_3__I2C3_SCL 0x4001b8b1
                MX6QDL_PAD_GPIO_16__I2C3_SDA 0x4001b8b1
            >;
        };
    };
    
    i2c4 {
        pinctrl_i2c4: i2c4grp {
            fsl,pins = <
                MX6QDL_PAD_NANDF_WP_B__I2C4_SCL 0x4001b8b1
                MX6QDL_PAD_NANDF_CS3__I2C4_SDA 0x4001b8b1
            >;
        };
    };
    
    enet {
        pinctrl_enet_linkbox2: enetgrp-lb2 {
            fsl,pins = <
                MX6QDL_PAD_ENET_MDIO__ENET_MDIO       0x1b0b0
                MX6QDL_PAD_ENET_MDC__ENET_MDC         0x1b0b0
                MX6QDL_PAD_RGMII_TXC__RGMII_TXC       0x1b0b0
                MX6QDL_PAD_RGMII_TD0__RGMII_TD0       0x1b0b0
                MX6QDL_PAD_RGMII_TD1__RGMII_TD1       0x1b0b0
                MX6QDL_PAD_RGMII_TD2__RGMII_TD2       0x1b0b0
                MX6QDL_PAD_RGMII_TD3__RGMII_TD3       0x1b0b0
                MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL 0x1b0b0
                MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK  0x40000000
                MX6QDL_PAD_RGMII_RXC__RGMII_RXC       0x1b0b0
                MX6QDL_PAD_RGMII_RD0__RGMII_RD0       0x1b0b0
                MX6QDL_PAD_RGMII_RD1__RGMII_RD1       0x1b0b0
                MX6QDL_PAD_RGMII_RD2__RGMII_RD2       0x1b0b0
                MX6QDL_PAD_RGMII_RD3__RGMII_RD3       0x1b0b0
                MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL 0x1b0b0
            >;
        };
    };
    
    uart5 {
        pinctrl_uart5_linkbox2: uart5grp-linkbox2 {
        fsl,pins = <
            MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA 0x1b0b1
            MX6QDL_PAD_CSI0_DAT15__UART5_RX_DATA 0x1b0b1
            MX6QDL_PAD_CSI0_DAT18__UART5_RTS_B   0x1b0b1
            MX6QDL_PAD_CSI0_DAT19__UART5_CTS_B   0x1b0b1
        >;
        };
        
        pinctrl_uart5_dte_linkbox2: uart5grp-dte_linkbox2 {
        fsl,pins = <
            MX6QDL_PAD_CSI0_DAT14__UART5_RX_DATA 0x1b0b1
            MX6QDL_PAD_CSI0_DAT15__UART5_TX_DATA 0x1b0b1
            MX6QDL_PAD_CSI0_DAT18__UART5_CTS_B   0x1b0b1
            MX6QDL_PAD_CSI0_DAT19__UART5_RTS_B   0x1b0b1
        >;
        };
    };
    
};

&ldb {
    status = "disabled";
    };

&pcie {
    status = "disabled";
};

&uart1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart1>;
    status = "okay";
};

&uart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart2>;
    status = "okay";
};

&uart3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart3>;
    status = "okay";
};

&uart4 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart4>;
    status = "okay";
};


&uart5 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart5_linkbox2>;
    fsl,uart-has-rtscts;
    status = "okay";
};

&usbh1 {
    vbus-supply = <&reg_usb_h1_vbus>;
    status = "okay";
};

&usbotg {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usbotg>;
    status = "okay";
};

&usdhc2 {
    status = "disabled";
};

&usdhc4 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usdhc4>;
    bus-width = <4>;
    non-removable;
    keep-power-in-suspend;
    enable-sdio-wakeup;
    status = "okay";
};

&usdhc3 {
    compatible = "fsl,imx6sl-usdhc";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usdhc3>;
    bus-width = <8>;
    non-removable;
    no-1-8-v;
    keep-power-in-suspend;
    status = "okay";
};


&pwm1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm1>;
    status = "okay";
};

&pwm2 {
    /*pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm2>; */
    status = "disabled";
};

&pwm3 {
    /* pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm3_lb>; */
    status = "disabled";
};

&pwm4 {
    status = "disabled";
};

&epdc {
    status = "disabled";
};

&audmux {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_audmux>;
    status = "okay";
};

&clks {
    assigned-clocks = <&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
              <&clks IMX6QDL_PLL4_BYPASS>,
              <&clks IMX6QDL_CLK_ESAI_SEL>,
              <&clks IMX6QDL_CLK_ESAI_EXTAL>;
    assigned-clock-parents = <&clks IMX6QDL_CLK_PLL4_POST_DIV>,
                <&clks IMX6QDL_CLK_PLL4>, <&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;
    assigned-clock-rates = <786432000>, <0>, <0>, <24576000>;
};

&ssi2 {
    fsl,mode = "i2s-slave";
    status = "okay";
};

&ipu1 {
    status = "disabled";
};
