/*
 * Copyright 2015 DATA RESPONS AS
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "mxxf1-common.dtsi"

/ {
    model = "DR imx6q Maritime Computer - new touch";
    compatible = "fsl,imx6q";

};

&i2c3 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c3>;
    status = "okay";

    egalax_ts@2a {
        compatible = "eeti,egalax_i2c";
        reg = <0x2a>;
        interrupt-parent = <&gpio6>;
        interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
        int-gpios = <&gpio6 8 0>;
        disable-suspend = <1>;
        };

    main_rtc: rtc@68 {
        compatible = "stm,m41t82";
        reg = <0x68>;
        };

    adc7417@28 {
        compatible = "adi,ad7417";
        reg = <0x28>;
        };
};
